# Colors
color={{{black}}}
inside-color={{{brightBlack}}} 
line-color={{{brightBlack}}} 
ring-color={{{brightWhite}}}
text-color={{{white}}}

layout-bg-color={{{brightBlack}}} 
layout-text-color={{{black}}}

inside-clear-color={{{blue}}}
line-clear-color={{{brightBlack}}} 
ring-clear-color={{{blue}}}
text-clear-color={{{brightBlack}}} 

inside-ver-color={{{brightWhite}}}
line-ver-color={{{brightBlack}}} 
ring-ver-color={{{brightWhite}}}
text-ver-color={{{brightBlack}}} 

inside-wrong-color={{{red}}}
line-wrong-color={{{brightBlack}}} 
ring-wrong-color={{{red}}}
text-wrong-color={{{brightBlack}}} 

bs-hl-color={{{red}}}
key-hl-color={{{green}}}

text-caps-lock-color={{{white}}}

# Size
indicator-radius=120
indicator-thickness=20

# Background
image=~/.config/bg
scaling={{{bg_mode}}}

# Flags
daemonize
ignore-empty-password
indicator-caps-lock
show-failed-attempts
hide-keyboard-layout
indicator-idle-visible
